/* Estilo para el encabezado */
header {
    background-color: none;
    padding: 10px 10px 5px 5px;
    justify-content: center;
    display: flex;
    margin-top: 3%;
    max-width: 80%;
    max-height: 80%;
}

.merch {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container,
.customnav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.image-container img {
    max-width: 500px;
    max-height: 500px;
}

body {
    background-color: rgb(0, 4, 5);
}

.custom div {
    background-color: rgb(0, 4, 5);
    color: aliceblue;
}

.customnav,
.navitem div {
    background-color: rgb(0, 4, 5);
    color: aliceblue;
}

footer {
    color: aliceblue;
}

img div {
    object-fit: cover;
}