@import "config";

footer {
    .social-media {
        display: flex;
        margin-right: 10px;
        justify-content: center;
    }
    .btn {
        border: none;
        overflow: hidden;
        position: relative;
        display: flex;

        span {
            z-index: 20;
        }

        &:after {
            background: #fff;
            content: "";
            height: 155px;
            left: -75px;
            opacity: 0.2;
            position: absolute;
            top: -50px;
            transform: rotate(35deg);
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            width: 50px;
            z-index: -10;
        }
    }

    .btn:hover {
        &:after {
            left: 120%;
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        }
    }
    p {
        color: $font-color;
    }
    .social-icon {
        width: 90%;
        height: 90%;
    }
}
